<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department Head Applications</title>

    <style>
        ul {
        margin: 10px 0;
        }
        li {
        font-size: 20px;
        margin: 5px 0;
        }
        button {
        padding: 5px 15px;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 5px;
        }
    </style>
</head>
<body>
<h1>Tuition Reimbursement Form View for {{user}}</h1>
<div>
    <ul>
        {% for dh in dept_head %}
        <li>Form ID: {{ dh['f_id'] }}</li>
        <li>Applicant ID: {{ dh['app_id'] }}</li>
        <li>Applicant Name: {{ dh['a_name'] }}</li>
        <li>Date Submitted: {{ dh['date_submitted'] }}</li>
        <li>Time Submitted: {{ dh['time_submitted'] }}</li>
        <li>Location: {{ dh['location'] }}</li>
        <li>Description: {{ dh['description'] }}</li>
        <li>Cost: {{ dh['e_cost'] }}</li>
        <li>Event Type: {{ dh['e_type'] }}</li>
        <li>Status: {{ dh['e_status'] }}</li>
        <li>Grade Format: {{ dh['grade_format'] }}</li>
        <li>Benefits Coordinator Approval: {{ dh['bc_approved'] }}</li>
        <li>Department Head Approval: {{ dh['dh_approved'] }}</li>
        <li>Supervisor Approval: {{ dh['sv_approved'] }}</li><br><br>
        {% endfor %}
    </ul>
</div>
<button onclick="window.location = 'http://localhost:5000/dh_protected'" type="submit">Return to Account</button>
</body>
</html>